.title {
  font-family: "astroboy";
  color: var(--primary-color);
  text-align: center;
  text-shadow: 5px 5px black;
}

/* Extra small devices (phones) */
@media (max-width: 599px) {
  .title {
    font-size: 48px;
    transform: translateY(50px);
  }

  .container {
    background-size: 130%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .titleContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    background-image: url("/images/beach.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
  }

  .contentContainer {
    display: flex;
    justify-content: center;
    background-color: #fbbc36;
    transform: translateY(-1px);
  }

  .text {
    color: rgb(39, 39, 39);
    font-family: "numbers";
    font-size: 20px;
    text-align: center;
    width: 90%;
  }
}

/* Small devices (large phones, small tablets) */
@media (min-width: 600px) and (max-width: 767px) {
}

/* Medium devices (tablets, small laptops) */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Large devices (laptops, desktops) */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Extra large devices (large desktops) */
@media (min-width: 1200px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .title {
    font-size: 68px;
  }

  .text,
  .leftText,
  .rightText {
    font-family: "numbers";
    color: #000;
    text-align: center;
    max-width: 1500px;
    font-size: 24px;
  }

  .leftTextContainer,
  .rightTextContainer {
    border: 5px solid black;
    width: 200px;
    display: flex;
    flex-direction: column;
    padding: 4px;
  }

  .leftTextContainer {
    background-color: #e52763;
  }

  .rightTextContainer {
    background-color: #fbe139;
  }

  .leftText,
  .rightText {
    text-align: center;
    margin: 0;
  }

  .middleContainer {
    display: flex;
    align-items: stretch;
    justify-content: center;
    max-width: 1500px;
    gap: 8px;
  }

  .whoAreYouImg {
    border: 5px solid black;
    padding: 4px;
  }
  .sparkImg,
  .speakerImg {
    width: 100%;
  }
}
