.link,
.emailLink {
  font-family: "numbers";
  text-decoration: none;
  color: white;
}

.title,
.socialTitle,
.mapTitle {
  font-family: "astroboy";
  color: var(--primary-color);
  text-shadow: 5px 5px black;

  text-align: center;
}

.socialLink {
  color: white;
}

/* Extra small devices (phones) */
@media (max-width: 599px) {
  .container {
    align-items: center;
    justify-content: center;
    gap: 16px;
  }

  .title {
    font-size: 48px;
    margin: 0;
  }

  .socialTitle,
  .mapTitle {
    font-size: 48px;
  }

  .container {
    gap: 0;
    transform: translateY(-2px);
  }
  .titleContainer {
    width: 100%;
    height: 400px;
    background-color: #fbbc36;

    background-image: url("/waves-background-removebg-preview.png");
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
  }
  .contentContainer {
    display: flex;
    justify-content: center;
    background-color: #035894;
    width: 100%;
    transform: translateY(-1px);
  }
  .infoImg {
    width: 70%;
  }
  .card {
    width: 90%;
    padding: 16px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-150px);
  }
  .locationText {
    font-family: "numbers";
    font-size: 22px;
    text-align: center;
    text-shadow: 5px 5px black;
  }
  .link {
    font-size: 32px;
    text-shadow: 5px 5px black;
  }

  .emailLink {
    text-shadow: 5px 5px black;
    font-size: 28px;
  }
  .socialMediaContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 5px 5px black;
    font-size: 48px;
    gap: 32px;
  }
}

/* Small devices (large phones, small tablets) */
@media (min-width: 600px) and (max-width: 767px) {
}

/* Medium devices (tablets, small laptops) */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Large devices (laptops, desktops) */
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    background-color: rgb(28 74 137);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .titleContainer {
    width: 100%;
  }
  .title {
    font-size: 68px;
    text-shadow: 5px 5px white;
  }
  .subTitle {
    font-family: "numbers";
    color: var(--primary-color);
    text-align: center;
  }
  .contentContainer {
    display: flex;
    gap: 100px;
    max-width: 1000px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .leftContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .phoneContainer {
    display: flex;
    gap: 16px;
  }

  .phoneLinksContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .link {
    font-size: 32px;
    text-shadow: 5px 5px black;
  }

  .emailLink {
    text-shadow: 5px 5px black;
    font-size: 28px;
  }

  .emailContainer {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .socialMediaContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 5px 5px black;
    font-size: 48px;
    gap: 32px;
  }

  .locationText {
    font-family: "numbers";
    font-size: 22px;
    text-align: center;
    text-shadow: 5px 5px black;
  }

  .rightContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 32px;
  }
}

/* Extra large devices (large desktops) */
@media (min-width: 1200px) {
  .container {
    background-color: rgb(28 74 137);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .titleContainer {
    width: 100%;
  }
  .title {
    font-size: 68px;
    text-shadow: 5px 5px white;
  }
  .subTitle {
    font-family: "numbers";
    color: var(--primary-color);
  }
  .contentContainer {
    display: flex;
    gap: 100px;
    max-width: 1500px;
    padding-bottom: 32px;
  }
  .leftContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .phoneContainer {
    display: flex;
    gap: 16px;
  }

  .phoneLinksContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .link {
    font-size: 32px;
    text-shadow: 5px 5px black;
  }

  .emailLink {
    text-shadow: 5px 5px black;
    font-size: 28px;
  }

  .emailContainer {
    display: flex;
    gap: 16px;
    align-items: center;
  }

  .socialMediaContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 5px 5px black;
    font-size: 48px;
    gap: 32px;
  }

  .locationText {
    font-family: "numbers";
    font-size: 22px;
    text-align: center;
    text-shadow: 5px 5px black;
  }
}
