.container {
  /* border: 1px solid black; */
  border-radius: 16px;
  color: black;
  background-size: cover;
  overflow: hidden;
}

.durationText {
  /* font-family: "astroboy"; */
  color: var(--primary-color);
}

.minutes {
  font-family: "numbers";
  color: white;
  background-color: var(--primary-color);
}

/* Extra small devices (phones) */
@media (max-width: 599px) {
  .container {
    height: 165px;
    width: 90%;
    font-size: 32px;
  }

  .minutes {
    transform: rotate(-34deg) translate(-18px, -59px);
    padding-left: 32px;
  }
}

/* Small devices (large phones, small tablets) */
@media (min-width: 600px) and (max-width: 767px) {
  .container {
    height: 200px;
    width: 400px;
  }
}

/* Medium devices (tablets, small laptops) */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Large devices (laptops, desktops) */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Extra large devices (large desktops) */
@media (min-width: 1200px) {
  .container {
    height: 300px;
    width: 700px;
  }
  .minutes {
    transform: rotate(-34deg) translate(11px, -140px);
    padding-left: 32px;
    font-size: 28px;
  }
}
