.container {
  /* border: 1px solid black; */
  border-radius: 16px;
  color: black;
  background-size: cover;
  overflow: hidden;
}

.durationText {
  /* font-family: "astroboy"; */
  color: var(--primary-color);
}

.minutes,
.price {
  font-family: "numbers";
  color: white;
  background-color: var(--primary-color);
}

.euro {
  color: white;
}

.price {
  display: flex;
  align-items: center;
  background-color: rgb(28 74 137);
}

.flameBadge {
  width: 32px;
  height: 32px;
  pointer-events: none;
}

/* Extra small devices (phones) */
@media (max-width: 599px) {
  .cardWrapper {
    display: flex;
    justify-content: flex-end;

    width: 100%;
  }
  .container {
    height: 165px;
    width: 100%;
    font-size: 32px;
  }

  .minutes {
    transform: rotate(-34deg) translate(-6%, -224%);
    padding-left: 44px;
    font-size: 18px;
  }
  .price {
    transform: rotate(-34deg) translate(-10%, 554%);
    padding-left: 74%;

    font-size: 18px;
  }

  .flameBadge {
    position: absolute;
    transform: rotate(10deg) translate(34%, -86%);

    width: 50px;
  }
}

/* Small devices (large phones, small tablets) */
@media (min-width: 600px) and (max-width: 767px) {
  .container {
    height: 200px;
    width: 400px;
  }
}

/* Medium devices (tablets, small laptops) */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Large devices (laptops, desktops) */
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    height: 300px;
    width: 700px;
    border-radius: 0;
    border: 5px solid black;
  }
  .minutes {
    transform: rotate(-34deg) translate(11px, -140px);
    padding-left: 32px;
    font-size: 28px;
  }
  .price {
    transform: rotate(-34deg) translate(-1px, 319px);
    padding-left: 450px;
    font-size: 28px;
  }

  .flameBadge {
    transform: translate(650px, -28px) rotate(20deg);
    width: 110px;
  }
}

/* Extra large devices (large desktops) */
@media (min-width: 1200px) {
  .container {
    height: 300px;
    width: 700px;
    border-radius: 0;
    border: 5px solid black;
  }
  .minutes {
    transform: rotate(-34deg) translate(11px, -140px);
    padding-left: 32px;
    font-size: 28px;
  }
  .price {
    transform: rotate(-34deg) translate(-1px, 319px);
    padding-left: 450px;
    font-size: 28px;
  }

  .flameBadge {
    transform: translate(650px, -28px) rotate(20deg);
    width: 110px;
  }
}
